.table__show-colored-rows tr:nth-child(odd) {
  background: transparent;
}

.table__show-colored-rows tr:nth-child(even) {
  background: #e5e7eb;
}

.dragover {
  background: repeating-linear-gradient(
    45deg,
    rgba(240, 240, 240, 0.5),
    rgba(240, 240, 240, 0.5) 10px,
    rgba(223, 223, 223, 0.5) 10px,
    rgba(223, 223, 223, 0.5) 20px
  );
}
