a {
   transition: all 0.15s ease;
}

.navbar-link:hover {
   /* text-amber-500 */
   color: #f59e0b;
   text-decoration: none;
}

.card-header .fa.text-orange,
.card .card-header .fas.text-orange {
   color: #ff5e3a;
   fill: #ff5e3a;
}

.introduction-bg {
   animation: slide 50s linear infinite;
   will-change: background-position;
   z-index: -1;
}

/* Todo: playlist first child */
/* Todo: upload dropbox */
/* Todo: music background */
/* Todo: progress bar */

@keyframes slide {
   0% {
      background-position: 0 0;
   }
   100% {
      background-position: -4000px 0;
   }
}

:root {
   background-color: #f3f4f6;
}
